<% if params[:status].present? %>
	<% if params[:status] == 'contact_post' %>
		<p class="bg-success">
			Your message has been successfully sent!
		</p>
	<% end %>
<% end %>
<h1>
	Contact Us
</h1>
<%= form_tag("/welcome/contact_post", method: "post") do %>
	<div class="form-group">
		<%= label_tag(:first_name, "First Name:*") %>
		<%= text_field_tag :first_name, nil, :required => true, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= label_tag(:last_name, "Last Name:*") %>
		<%= text_field_tag :last_name, nil, :required => true, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= label_tag(:subject, "Subject:*") %>
		<% if @organization.present? %>
			<%= text_field_tag :subject, nil, :required => true, class: "form-control", value: (@organization['long_name'] + ' Interest') %>
		<% else %>
			<%= text_field_tag :subject, nil, :required => true, class: "form-control" %>
		<% end %>
	</div>
	<div class="form-group">
		<%= label_tag(:message, "Message:*") %>
		<%= text_area_tag :message, nil, :required => true, size: "40x5", class: "form-control" %>
	</div>
	<p>
		<%= button_tag "Submit", class: "btn btn-primary", data: {disable_with: "Loading please wait..."} %>
	</p>
<% end %>