<h1>
	Organizations
</h1>
<div class="well">
	<h3>
		Search
	</h3>
	<%= form_tag("/welcome/list", method: "get") do %>
		<p>
			Search Organization Name: <%= text_field_tag :search_term, params[:search_term] %>
		</p>
		<p>
			Search Organization Keywords: <%= text_field_tag :keywords, params[:keywords] %>
		</p>
		<p>
			Organization Type: <%= select_tag(:category, options_for_select(@categories, params[:category]), :prompt => "- Select an Organization Category -") %>
		</p>
		<p>
			<%= button_tag "Search", class: "btn btn-primary", data: {disable_with: "Searching please wait..."} %>
			<% if params[:search_term].present? || params[:category].present? || params[:keywords].present? %>
				<%= link_to "Clear", welcome_list_path, class: "btn btn-danger" %>
			<% end %>
		</p>
	<% end %>
</div>
<% if @organizations.present? %>
	<p>
		<%= page_entries_info @organizations %>
	</p>
	<p>
		<%= will_paginate(@organizations) %>
	</p>
	<% @organizations.each do |organization| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= link_to image_tag(organization['pic_url']), organization['website_url'] %>
				<h2>
					<%= organization['long_name'] %>
				</h2>
				<p>
					<strong>Description:</strong> 
					<%= organization['description'] %>
				</p>
				<p>
					<strong>Member Count:</strong> 
					<%= organization['member_count'] %>
				</p>
				<p>
					<strong>Category:</strong> 
					<%= organization['category']['name'] %>
				</p>
				<p>
					<strong>Keywords:</strong> 
					<%= organization['keywords'] %>
				</p>
				<p>
					<%= link_to 'More Information', welcome_view_path(:id => organization['id']), class: 'btn btn-primary' %>
				</p>
			</div>
		</div>
	<% end %>
	<p>
		<%= page_entries_info @organizations %>
	</p>
	<p>
		<%= will_paginate(@organizations) %>
	</p>
<% else %>
	<p>
		There are no records that match your search
	</p>
<% end %>