<h1>
	Organizations
</h1>
<div class="well">
	<h3>
		Search
	</h3>
	<%= form_tag("/welcome/list", method: "get") do %>
		<div class="form-group">
			<%= label_tag(:search_term, "Organization Name:") %>
			<%= text_field_tag :search_term, params[:search_term], class: "form-control" %>
		</div>
		<div class="form-group">
			<%= label_tag(:keywords, "Organization Keywords:") %>
			<%= text_field_tag :keywords, params[:keywords], class: "form-control" %>
		</div>
		<div class="form-group">
			<%= label_tag(:category, "Organization Type:") %>
			<%= select_tag(:category, options_for_select(@categories, params[:category]), :prompt => "- Select an Organization Category -", class: "form-control") %>
		</div>
		<p>
			<%= button_tag "Search", class: "btn btn-primary", data: {disable_with: "Searching please wait..."} %>
			<% if params[:search_term].present? || params[:category].present? || params[:keywords].present? %>
				<%= link_to "Clear", welcome_list_path, class: "btn btn-danger" %>
			<% end %>
		</p>
	<% end %>
</div>
<% if @organizations.present? %>
	<p>
		<%= page_entries_info @organizations %>
	</p>
	<p>
		<%= will_paginate(@organizations) %>
	</p>
	<% @organizations.each do |organization| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= link_to image_tag(organization['pic_url']), organization['website_url'] %>
				<h2>
					<%= organization['long_name'] %>
				</h2>
				<p>
					<strong>Description:</strong> 
					<%= organization['description'] %>
				</p>
				<p>
					<strong>Member Count:</strong> 
					<%= organization['member_count'] %>
				</p>
				<p>
					<strong>Category:</strong> 
					<%= organization['category']['name'] %>
				</p>
				<p>
					<strong>Keywords:</strong> 
					<%= organization['keywords'] %>
				</p>
				<p>
					<%= link_to welcome_view_path(:id => organization['id']), class: 'btn btn-primary' do %>
						<i class="glyphicon glyphicon-search"></i> More Information
					<% end %>
					<%= link_to welcome_contact_path(:id => organization['id']), class: 'btn btn-default' do %>
						<i class="glyphicon glyphicon-envelope"></i> Contact This Organization
					<% end %>
				</p>
			</div>
		</div>
	<% end %>
	<p>
		<%= page_entries_info @organizations %>
	</p>
	<p>
		<%= will_paginate(@organizations) %>
	</p>
<% else %>
	<p>
		There are no records that match your search
	</p>
<% end %>