<h1>
	Organizations
</h1>
<div class="well">
	<h3>
		Search
	</h3>
	<%= form_tag("/welcome/list", method: "get") do %>
		<div class="form-group">
			<%= label_tag(:search_term, "Organization Name:") %>
			<%= text_field_tag :search_term, params[:search_term], class: "form-control" %>
		</div>
		<div class="form-group">
			<%= label_tag(:keyword, "Organization Keyword:") %>
			<%= text_field_tag :keyword, params[:keyword], class: "form-control" %>
		</div>
		<div class="form-group">
			<%= label_tag(:category, "Organization Type:") %>
			<%= select_tag(:category, options_for_select($categories, params[:category]), :prompt => "- Select an Organization Category -", class: "form-control") %>
		</div>
		<p>
			<%= button_tag class: "btn btn-primary", data: {disable_with: "Searching please wait..."} do %>
				<i class="glyphicon glyphicon-search"></i> Search
			<% end %>
			<% if params[:search_term].present? || params[:category].present? || params[:keyword].present? %>
				<%= link_to welcome_list_path, class: "btn btn-danger" do %>
					<i class="glyphicon glyphicon-trash"></i> Clear Search
				<% end %>
			<% end %>
		</p>
	<% end %>
</div>
<% if @organizationsList.present? %>
	<div class="digg_pagination">
		<div class="page_info">
			<%= page_entries_info @organizationsList, :model => "organizations" %>
		</div>
		<%= will_paginate(@organizationsList, :container => false) %>
	</div>
	<% @organizationsList.each do |organization| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<% if organization['website_url'].present? %>
					<%= link_to image_tag(organization['pic_url']), organization['website_url'] %>
				<% else %>
					<%= image_tag organization['pic_url'] %>
				<% end %>

				<h2>
					<%= organization['long_name'] %>
				</h2>

				<p>
					<strong>Description:</strong> 
					<%= organization['description'] %>
				</p>

				<p>
					<strong>Website:</strong>
					<% if organization['website_url'].present? %>
						<%= link_to organization['website_url'] %>
					<% else %>
						No website provided
					<% end %>
				</p>

				<p>
					<strong>Member Count:</strong> 
					<%= organization['member_count'] %>
				</p>

				<p>
					<strong>Category:</strong> 
					<%= organization['category']['name'] %>
				</p>

				<p>
					<strong>Keywords:</strong> 
					<%= organization['keywords'] %>
				</p>

				<p>
					<%= link_to welcome_view_path(:id => organization['id']), class: 'btn btn-primary' do %>
						<i class="glyphicon glyphicon-search"></i> More Information
					<% end %>
					<%= link_to welcome_contact_path(:id => organization['id']), class: 'btn btn-default' do %>
						<i class="glyphicon glyphicon-envelope"></i> Contact This Organization
					<% end %>
				</p>
			</div>
		</div>
	<% end %>
	<div class="digg_pagination">
		<div class="page_info">
			<%= page_entries_info @organizationsList, :model => "organizations" %>
		</div>
		<%= will_paginate(@organizationsList, :container => false) %>
	</div>
<% else %>
	<p>
		There are no records that match your search
	</p>
<% end %>